{% extends "template_v2.html" %}
{% load custom_filters %} 

{% block content %}
<div class="container mt-4">
    <h2>Xét duyệt đề xuất côn trùng</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên côn trùng</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
        {% if requests %}
            {% for request in requests %}
            <tr>
                <td>{{ request.index }}</td>
                <td><a href="{% url 'verify_request' request.request_id %}">{{ request.ename }}</a></td>
                <td>{{ request.username }}</td>
                <td>{{ request.status|format_status }}</td>
            </tr>
            {% endfor %}
         {%else%}
            <tr>
                <td colspan="4">
                    Danh sách trống...
                </td>
            </tr>
        {%endif%}
        </tbody>
    </table>
</div>
{% endblock %}