{% extends "template_v2.html" %}
{% load static %}
{% block content %}


       <!-- Carousel Start -->
<div class="container-fluid carousel-header vh-100 px-0">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="  {% static 'img/home1.jpg' %}" class="img-fluid" alt="Image">
                        <div class="carousel-caption">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">We'll Save Our Insects</h4>
                                <h1 class="display-1 text-capitalize text-white mb-4">Insect Conservation</h1>
                                <p class="mb-5 fs-5">Detecting and preserving insect species is a very important matter, related to insect ecological diversity
                                </p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#">Join With Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/home2.jpg' %}" class="img-fluid" alt="Image">
                        <div class="carousel-caption">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">We'll Save Our Insects</h4>
                                <h1 class="display-1 text-capitalize text-white mb-4">Insect Conservation</h1>
                                <p class="mb-5 fs-5">Detecting and preserving insect species is a very important matter, related to insect ecological diversity,
                                </p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#">Join With Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/home3.jpg'%}" class="img-fluid" alt="Image">
                        <div class="carousel-caption">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">We'll Save Our Insects</h4>
                                <h1 class="display-1 text-capitalize text-white mb-4">Insect Conservation</h1>
                                <p class="mb-5 fs-5">Detecting and preserving insect species is a very important matter, related to insect ecological diversity
                                </p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#">Join With Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>



<div style="background-color: #F5F5F5;">
    <div class="row mt-3 ">
        {% for spc in species_lst %}
             <div class="align-items-center col-sm-6 col-md-4 col-lg-3 mb-3 image-card" data-img-id="${spc.img_id}">
            <div class="card">
                    <svg class="img-fluid" viewBox="0 0 {{ spc.width }} {{ spc.height }}" data-insect-id="{{ spc.insects_id }}" data-insect-slug="{{ spc.slug }}">
                            <a  href= '/load_specie_image/?page=1&specie_id={{spc.insects_id}}'><image href="{{ MEDIA_URL }}{{spc.thumbnail}}" data-src="{{ MEDIA_URL }}{{spc.thumbnail }}" height="100%" width="100%"/></a>
<!--                        <image href="{{ MEDIA_URL }}{{ spc.thumbnail }}" data-src="{{ MEDIA_URL }}{{ spc.thumbnail }}" height="100%" width="100%" />-->
                    </svg>
                     <p  class="text-center fw-bold fs-9">{{spc.vi_name}} ({{spc.name}})</p>
<!--                <div>-->
<!--                    <p  class="fw-bold fs-9">{{spc.name}}</p>-->
<!--                    </div>-->
            </div>
        </div>

        {% endfor %}
    </div>

</div>


<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}






