{% extends "template_v2.html" %}
{% load custom_filters %}
{% block content %}
<div class="container mt-4">
    <h2 class="my-3">Quản lý côn trùng</h2>
    <nav class="mb-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-class-tab" data-bs-toggle="tab" data-bs-target="#nav-class" type="button" role="tab" aria-controls="nav-class" aria-selected="true">Quản lý lớp</button>
            <button class="nav-link" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false">Quản lý bộ</button>
            <button class="nav-link" id="nav-family-tab" data-bs-toggle="tab" data-bs-target="#nav-family" type="button" role="tab" aria-controls="nav-family" aria-selected="false">Quản lý họ</button>
            <button class="nav-link" id="nav-genus-tab" data-bs-toggle="tab" data-bs-target="#nav-genus" type="button" role="tab" aria-controls="nav-genus" aria-selected="false">Quản lý chi</button>
            <button class="nav-link" id="nav-species-tab" data-bs-toggle="tab" data-bs-target="#nav-species" type="button" role="tab" aria-controls="nav-species" aria-selected="false">Quản lý loài</button>
        </div>
    </nav>
    <div class="tab-content mb-3" id="nav-tabContent">
        <!--======================================================= Quản lý lớp =======================================================-->
        <div class="tab-pane fade show active" id="nav-class" role="tabpanel" aria-labelledby="nav-class-tab" tabindex="0">
            <a href="#" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Thêm lớp
            </a>
            <form method="GET" class="row mb-3 g-2 align-items-center">
                <label class="fw-bold">Tìm kiếm:</label>
                <div class="col-md-3">
                    <input type="text" name="search_class" class="form-control" placeholder="Nhập tên..."
                           value="{{ search_class_query }}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a href="{% url 'manage_insect' %}" class="btn btn-secondary">Làm mới</a>
                </div>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên khoa học</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Ngành</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if classes %}
                        {% for class in classes %}
                        <tr>
                            <td>{{ class.class_id }}</td>
                            <td>{{ class.ename }}</td>
                            <td>{{ class.name }}</td>
                            <td>{{ class.slug }}</td>
                            <td>{{ class.phylum }}</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="8" class="text-center text-muted">Không có lớp nào.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--======================================================= Quản lý bộ =======================================================-->
        <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab" tabindex="1">
            <a href="#" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Thêm bộ
            </a>
            <form method="GET" class="row mb-3 g-2 align-items-center">
                <label class="fw-bold">Tìm kiếm:</label>
                <div class="col-md-3">
                    <input type="text" name="search_order" class="form-control" placeholder="Nhập tên..."
                           value="{{ search_order_query }}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a href="{% url 'manage_insect' %}" class="btn btn-secondary">Làm mới</a>
                </div>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên khoa học</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Lớp</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if orders %}
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.ename }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.slug }}</td>
                            <td>{{ order.class_field }}</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="8" class="text-center text-muted">Không có bộ nào.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--======================================================= Quản lý họ =======================================================-->
        <div class="tab-pane fade" id="nav-family" role="tabpanel" aria-labelledby="nav-family-tab" tabindex="2">
            <a href="#" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Thêm họ
            </a>
            <form method="GET" class="row mb-3 g-2 align-items-center">
                <label class="fw-bold">Tìm kiếm:</label>
                <div class="col-md-3">
                    <input type="text" name="search_family" class="form-control" placeholder="Nhập tên..."
                           value="{{ search_family_query }}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a href="{% url 'manage_insect' %}" class="btn btn-secondary">Làm mới</a>
                </div>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên khoa học</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Lớp</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if family %}
                        {% for fa in family %}
                        <tr>
                            <td>{{ fa.family_id }}</td>
                            <td>{{ fa.ename }}</td>
                            <td>{{ fa.name }}</td>
                            <td>{{ fa.slug }}</td>
                            <td>{{ fa.order }}</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="8" class="text-center text-muted">Không có họ nào.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--======================================================= Quản lý chi =======================================================-->
        <div class="tab-pane fade" id="nav-genus" role="tabpanel" aria-labelledby="nav-genus-tab" tabindex="3">
            <a href="#" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Thêm chi
            </a>
            <form method="GET" class="row mb-3 g-2 align-items-center">
                <label class="fw-bold">Tìm kiếm:</label>
                <div class="col-md-3">
                    <input type="text" name="search_genus" class="form-control" placeholder="Nhập tên..."
                           value="{{ search_genus_query }}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a href="{% url 'manage_insect' %}" class="btn btn-secondary">Làm mới</a>
                </div>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên khoa học</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Họ</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if genus %}
                        {% for ge in genus %}
                        <tr>
                            <td>{{ ge.genus_id }}</td>
                            <td>{{ ge.ename }}</td>
                            <td>{{ ge.name }}</td>
                            <td>{{ ge.slug }}</td>
                            <td>{{ ge.family }}</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="8" class="text-center text-muted">Không có chi nào.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <!--======================================================= Quản lý loài =======================================================-->
        <div class="tab-pane fade" id="nav-species" role="tabpanel" aria-labelledby="nav-species-tab" tabindex="4">
            <a href="#" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Thêm loài
            </a>
            <form method="GET" class="row mb-3 g-2 align-items-center">
                <label class="fw-bold">Tìm kiếm:</label>
                <div class="col-md-3">
                    <input type="text" name="search_species" class="form-control" placeholder="Nhập tên..."
                           value="{{ search_species_query }}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a href="{% url 'manage_insect' %}" class="btn btn-secondary">Làm mới</a>
                </div>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Tên khoa học</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Tên loài</th>
                            <th scope="col">Tên Tiếng Anh</th>
                            <th scope="col">Tên Tiếng Việt</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Hình thái</th>
                            <th scope="col">Phân bố</th>
                            <th scope="col">Đặc điểm sinh học</th>
                            <th scope="col">Tập tính</th>
                            <th scope="col">Biện pháp phòng ngừa</th>
                            <th scope="col">Chi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if species %}
                        {% for sp in species %}
                        <tr>
                            <td>{{ sp.insects_id }}</td>
                            <td>
                                <img class="img-thumbnail" src="{{ MEDIA_URL }}{{sp.thumbnail}}" />
                            </td>
                            <td>{{ sp.ename }}</td>
                            <td>{{ sp.name }}</td>
                            <td>{{ sp.species_name }}</td>
                            <td>{{ sp.eng_name }}</td>
                            <td>{{ sp.vi_name }}</td>
                            <td>{{ sp.slug }}</td>
                            <td>{{ sp.morphologic_feature|truncatewords:10 }}</td>
                            <td>{{ sp.distribution|truncatewords:10 }}</td>
                            <td>{{ sp.characteristic|truncatewords:10 }}</td>
                            <td>{{ sp.behavior|truncatewords:10 }}</td>
                            <td>{{ sp.protection_method|truncatewords:10 }}</td>
                            <td>{{ sp.genus }}</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="8" class="text-center text-muted">Không có loài nào.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tab đang lưu trong localStorage
        let activeTab = localStorage.getItem("activeTab");

        // Nếu có tab được lưu, kích hoạt nó
        if (activeTab) {
            let tabElement = document.querySelector(`#${activeTab}`);
            if (tabElement) {
                new bootstrap.Tab(tabElement).show();
            }
        }

        // Lưu tab khi người dùng bấm vào
        document.querySelectorAll('.nav-link').forEach(tab => {
            tab.addEventListener("click", function () {
                localStorage.setItem("activeTab", this.id);
            });
        });
    });
</script>

{% endblock %}